[submodule "Carthage/Checkouts/MirrorDiffKit"]
	path = Carthage/Checkouts/MirrorDiffKit
	url = https://github.com/Kuniwak/MirrorDiffKit.git
[submodule "Carthage/Checkouts/ReactiveSwift"]
	path = Carthage/Checkouts/ReactiveSwift
	url = https://github.com/ReactiveCocoa/ReactiveSwift.git
[submodule "Carthage/Checkouts/Hydra"]
	path = Carthage/Checkouts/Hydra
	url = https://github.com/malcommac/Hydra.git
